ul {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
  }

ul li {
    display: inline;
  }

.main {
    background-color: yellow;
 }

 /* .test {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s; 
  } 
  */
  .test{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: rubberBand;
    animation-duration: 2s; 
    animation-play-state: paused;
  }
  .test:active {
    animation-play-state: running;
} 
