body{
  background-color: #031716;
}

  .content img {
    border-radius: 30px;
  }
  
  a{
    color: white;
    text-decoration: none;
    transition: color ease-out;
  }
  a:hover{
    text-decoration: none;
    color:darksalmon;
  }
  
  .content{
   display: flex; 
   flex-wrap: wrap; 
   justify-content: space-around; 
   position: relative;
   margin:0 auto -50; 
   min-height: 86vh;
  }
  .artwork{
    margin: 5vh;
    color: white;
    text-align: center;
    justify-content: center;
    width: 500px
  }
  .zoom {
    transition: transform .2s; 
  }
  
  .zoom:hover {
    transform: scale(1.05);
  }


 
