body{
  background-color: #031716;
}
.blank{
  margin:3%
}
 /* .test {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s; 
  } 
  */
  .test{
    display: inline-block;
    margin: 0 0.5rem;
    transition: color ease-out 
    /* animation-iteration-count: infinite; */
  }
  a{
    color: white;
    transition: color ease-out;
  }
  a:link{
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
    color:darksalmon;
  }
  a:active{
    text-decoration: none;
  }
  .artwork{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
  .zoom {
    transition: transform .2s; 
  }
  
  .zoom:hover {
    transform: scale(1.05);
  }

  .page{
    margin-right: 20%;
    margin-left:20%;
    margin-top:5%;
    margin-bottom: 5%;
  }

  /* @keyframes testing {
    0% { color:blue; }
    50% { color:chartreuse; }
    100% { color:blue; }
  } */

 
